/* /src/components/Patients.css */

.patient-main {
	display: flex;

}
.patient-form-sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.patient-form {
	position: fixed;
	top: 10px;
	left: 400px;
    width: 500px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 10px;
	z-index: 999;
}

.patient-form input,select{
	margin: 8px 0px;
	padding: 5px;
}

.patients-section {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-card {
	width: 200px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	margin: 10px;
	margin-bottom: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.02);
	}

	h4 {
		margin-bottom: 8px;
	}

	p {
		margin: 8px 0;
	}
/* 
	button {
		margin-top: 8px;
		cursor: pointer;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 4px;
		padding: 8px;
		cursor: pointer;

		&:hover {
			background-color: #0056b3;
		}
	} */
}

.patient-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px;
}
.patient-main {
	display: flex;

}



@media (max-width: 1200px) {
  
	.patient-form {
	
		max-width: 500px;
		left: 250px;
	}
  }
@media (max-width: 886px) {
  
	.patient-form {
	left: 100px;
		max-width: 300px;
	}
  }
@media (max-width: 586px) {
  
	.patient-form {

		max-width: 200px;
	}
  }